@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);

$headerFont: 'Amatic SC', cursive;


input,
textarea {
  @extend .form-control;
}
label {
  @extend .control-label;
}
fieldset {
  @extend .form-group;
}
.form-horizontal{
  label{
    @extend .col-sm-3;
  }
  div{
    @extend .col-sm-9;
  }
}

.jumbotron {
    /* add bootstrap jumbotron background image */
    background: url("../images/tree-247122.jpg");
    /* change bootstrap jumbotron text color */
    color: #FFF;
}

.jumbotron h1 {
  font-family: $headerFont;
  font-size: 100px;
}
